/* Style untuk container utama */
.container {
    padding: 20px;
  }
  
  /* Style untuk card */
  .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style untuk header */
  .card-header {
    background-color: #ee4d2d;
    color: #fff;
  }
  
  /* Style untuk judul */
  .card-title {
    color: #ee4d2d;
  }
  
  /* Style untuk form alamat */
  .form-control {
    margin-bottom: 15px;
  }
  
  /* Style untuk daftar barang */
  .list-group-item {
    border: none;
  }
  
  /* Style untuk total belanja */
  .total {
    font-weight: bold;
  }
  
  /* Style untuk tombol Checkout */
  .btn-primary {
    background-color: #ee4d2d;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #c74324;
  }
  